:root {
    --root-col: #000;
    --bg-col: #1a1a1a;
    --fg-col: #2a2a2a;
    --text-col: #fff;
    --btn-col: #3a3a3a;
    --btn-hov-col: #4a4a4a;
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --root-col: #fff;
        --bg-col: #fafafa;
        --fg-col: #eaeaea;
        --text-col: #000;
        --btn-col: #dadada;
        --btn-hov-col: #cacaca;
    }
}

body {
    margin: 0;
    color: var(--text-col);
    background: var(--bg-col);
}
a {
    color: var(--text-col);
    text-decoration: none;
}
button {
    padding: 1rem;
    color: var(--text-col);
    background: var(--btn-col);
    border: 0;
    cursor: pointer;
}
ul {
    padding: 0;
    list-style: none;
}
h1 img {
    margin-right: 1rem;
    height: 6rem;
    vertical-align: middle;
    border-radius: 50%;
}
nav {
    margin: 0;
    padding: 2rem;
    top: 0;
    position: fixed;
    width: 100%;
    height: 8rem;
    background: var(--fg-col);
    box-sizing: border-box;
    z-index: 99;
}
nav h1 {
    margin: 0;
}
nav h1 img {
    height: 4rem;
}
#searchInput {
    margin-left: 1rem;
    padding: 1rem;
    color: var(--text-col);
    background: var(--root-col);
    border: 0;
}

.container {
    margin: 1rem 2rem;
    padding-top: 7rem;
}

.view {
    margin-left: 1rem;
    display: inline-block;
    font-size: 1.5rem;
}
.view a {
    padding: 1rem;
    background: var(--btn-col);
}
.view a:hover {
    background: var(--btn-hov-col);
}
.view #grid-view {
    display: block;
}
.view #list-view {
    display: none;
}
.view.list #grid-view {
    display: none;
}
.view.list #list-view {
    display: block;
}

.vtuber-group {
    overflow: auto;
}
.vtuber-group h1 {
    display: inline-block;
}

.channel-box {
    margin: 0 1rem 1rem 0;
    width: 23.8rem;
    height: 23.8rem;
    display: flex;
    position: relative;
    text-align: center;
    float: left;
}
.channel-box a {
    width: 100%;
    height: 100%;
    background: var(--btn-col);
}
.channel-box a:hover {
    background: var(--btn-hov-col);
}
.channel-content {
    padding: 2rem;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.channel-icon img {
    margin-bottom: 1rem;
    height: 10rem;
    border-radius: 50%;
}
.live-indicator {
    padding: .5rem 2rem;
    color: #555;
    font-size: 1.5rem;
    border: 1px solid #555;
    border-radius: 2rem;
    display: inline-block;
}
.live-indicator.active{
    color: #f00;
    border-color:#f00;
}

.channel-list .list .channel-box {
    margin: 1rem 0;
    width: auto;
    height: auto;
    text-align: left;
    float: none;
}
.channel-list .list .channel-content {
    padding: 1rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    position: relative;
    transform: translate(0);
}
.channel-list .list .channel-icon {
    float: left;
}
.channel-list .list .channel-icon img {
    margin: 0 1rem 0 0;
    height: 6rem;
}
.channel-list .list .channel-title {
    width: auto;
}
.channel-list .list .live-indicator {
    margin-right: 1rem;
}