@media screen and (min-width: 425px) {
    .channel-box {
        margin: 0 1vw 1vw 0;
        width: 43vw;
        height: 43vw;
    }
    .channel-content .channel-icon {
        height: 16vw;
    }
}
@media screen and (min-width: 768px) {
    nav h1 img {
        margin-right: 1.5rem;
    }
    #title {
        margin-right: 1rem;
    }
    #logo-text {
        display: inline;
    }
    .nav-menu {
        top: .5rem;
        right: 1rem;
    }
    .nav-menu a, .nav-menu a.visible {
        display: inline;
    }
    #dropdown-btn {
        display: none;
    }

    .channel-box {
        width: 30vw;
        height: 30vw;
    }
    .channel-content .channel-icon {
        height: 12vw;
    }
}
@media screen and (min-width: 1024px) {
    #search-input {
        width: auto;
    }

    .channel-box {
        margin: 0 .5rem .5rem 0;
        width: 19rem;
        height: 19rem;
    }
    .channel-content .channel-icon {
        height: 8rem;
    }
}
@media screen and (min-width: 1440px) {
    html {
        font-size: 14px;
    }
}
@media screen and (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}
@media screen and (min-width: 2560px) {
    html {
        font-size: 18px;
    }
}