@media screen and (min-width: 480px) {
    #searchInput {
        width: auto;
    }

    .channel-box {
        margin: 0 1vw 1vw 0;
        width: 44vw;
        height: 44vw;
    }
    .channel-icon img {
        height: 16vw;
    }
}
@media screen and (min-width: 768px) {
    .channel-box {
        width: 30vw;
        height: 30vw;
    }
    .channel-icon img {
        height: 12vw;
    }
}
@media screen and (min-width: 1024px) {
    .channel-box {
        margin: 0 .5rem .5rem 0;
        width: 20rem;
        height: 20rem;
    }
    .channel-icon img {
        height: 8rem;
    }
}